.moviescard {
  box-sizing: border-box;
  max-width: 364px;
  max-height: 281px;
  overflow: hidden;
  background-color: #222;
  border-radius: 6px;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .moviescard {
    max-width: 339px;
    max-height: 262px;
  }
}

@media screen and (max-width: 550px) {
  .moviescard {
    width: 100%;
  }
}

.moviescard__cover {
  width: 100%;
  height: 203px;
  object-fit: cover;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .moviescard__cover {
    height: 190px;
  }
}

@media screen and (max-width: 550px) {
  .moviescard__cover {
    height: 168px;
  }
}

.moviescard__info {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1;
}

@media screen and (max-width: 900px) {
  .moviescard__info {
    padding: 14px;
  }
}

@media screen and (max-width: 550px) {
  .moviescard__info {
    padding: 12px;
  }
}

.moviescard__like {
  background: none;
  border: none;
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url('../../images/like-icon.svg');
  cursor: pointer;
  margin-right: 8px;
  transition: opacity .2s linear;
}

.moviescard__like:hover {
  opacity: .7;
}

.moviescard__like:active {
  opacity: .5;
}

@media screen and (max-width: 550px) {
  .moviescard__like {
    margin-right: 2px;
  }
}

.moviescard__like_liked {
  background-image: url('../../images/like-icon-active.svg');
}

.moviescard__like_liked:hover {
  opacity: .7;
}

.moviescard__like_liked:active {
  opacity: .5;
}

.moviescard__delete {
  background: none;
  border: none;
}

.moviescard:hover .moviescard__delete {
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url('../../images/delete-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity .2s ease;
}

.moviescard:hover .moviescard__delete:hover {
  opacity: .7;
}

.moviescard:hover .moviescard__delete:active {
  opacity: .5;
}

.moviescard__caption {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: #fff;
  /* max-width: 270px; */
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moviescard__length {
  color: #8b8b8b;
  font-size: 11px;
  font-weight: 400;
  margin: 17px 0 0;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .moviescard__length {
    font-size: 10;
  }
}