
.burgericon {
  position: absolute;
  z-index: 100;
  top: 26px;
  right: 38px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.burgericon_open {
  position: fixed;
}

.burgericon__line {
  top: 20px;
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 7px;

}

.burgericon__line_1 {
  top: 0;
  transition: rotate .2s linear, top .2s linear;
}

.burgericon_open .burgericon__line_1 {
  rotate: 45deg;
  top: 9px;
}

.burgericon__line_2 {
  top: 10px;
  transition: width .2s linear;
}

.burgericon_open .burgericon__line_2 {
  width: 0;
}

.burgericon__line_3 {
  top: 20px;
  transition: rotate .2s linear, top .2s linear;
}

.burgericon_open .burgericon__line_3 {
  rotate: -45deg;
  top: 9px;
}

/* .burgericon .burgericon__line_1 {
  animation-name: rotate-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.burgericon .burgericon__line_2 {
  animation-name: lineout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.burgericon .burgericon__line_3 {
  animation-name: rotate-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-fill-mode: forwards;
} */

/* .burgericon_open .burgericon__line_1 {
  animation-name: rotate-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.burgericon_open .burgericon__line_2 {
  animation-name: lineout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
}

.burgericon_open .burgericon__line_3 {
  animation-name: rotate-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.burgericon_close .burgericon__line_1 {
  animation-name: rotate-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.burgericon_close .burgericon__line_2 {
  animation-name: lineout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.burgericon_close .burgericon__line_3 {
  animation-name: rotate-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
} */