.page {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Inter;
  min-height: 100vh;
  background-color: #202020;
}

.page__container {
  width: 100%;
  max-width: 1140px;
  min-width: 320px;
  margin: 0 auto;
}

.page__section-name {
  font-size: 22px;
  font-weight: 400;
  position: relative;
  text-align: left;
}

.page__section-name::after {
  content: '';
  width: 100%;

  bottom: -23px;
  left: 0;
  position: absolute;
  border-bottom: 1px solid #dadada;
}

.page__section-header {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
}

.page__text {
  font-size: 14px;
  line-height: 1.43;
}