.footer {
  background-color: #202020;
  text-align: center;
  padding-top: 79px;
  padding-bottom: 20px;
  flex: 0 0 auto;
  margin-top: auto;
}

.footer__text {
  font-size: 13px;
  color: #8b8b8b;
  position: relative;
  margin: 0;
}

.footer__text::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -20px;
  border-bottom: 1px solid #424242;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer__copyright {
  font-size: 13px;
  margin: 0;
  line-height: 1.6;
}

.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 13px;
  margin-left: 20px;
  transition: opacity .2s ease;
}

.footer__link:hover {
  opacity: .7;
}