.footer {
  background-color: #202020;
  text-align: center;
  padding-top: 79px;
  padding-bottom: 20px;
  flex: 0 0 auto;
  margin-top: auto;
}

@media screen and (max-width: 900px) {
  .footer__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 550px) {
  .footer__container {
    padding: 0 10px;
  }
}

.footer__text {
  font-size: 13px;
  color: #8b8b8b;
  position: relative;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .footer__text {
    font-size: 12px;
  }
}

.footer__text::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -20px;
  border-bottom: 1px solid #424242;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

@media screen and (max-width: 420px) {
  .footer__info {
    flex-direction: column-reverse;
    margin-top: 52px;
  }
}

.footer__copyright {
  font-size: 13px;
  margin: 0;
  line-height: 1.6;
}

@media screen and (max-width: 420px) {
  .footer__copyright {
    font-size: 12px;
    color: #8b8b8b;
    margin: 30px 0 10px;
  }
}

.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

@media screen and (max-width: 420px) {
  .footer__links {
    flex-direction: column;
    min-height: 66px;
    justify-content: space-between;
  }
}

.footer__link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 13px;
  margin-left: 20px;
  transition: opacity .2s ease;
}

@media screen and (max-width: 420px) {
  .footer__link {
    margin-left: 0;
  }
}

.footer__link:hover {
  opacity: .7;
}