.navtab {
  background-color: #272727;
  padding: 24px 0 24px;
}

.navtab__navigation {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
}

.navtab__link {
  margin-right: 40px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  text-decoration: underline;
  cursor: pointer;
  transition: opacity ease .2s;
}

.navtab__link:hover {
  opacity: .7;
}